.cabecalho:cadastrese {
    background-image: image(url(assets/cadastrese.png));
}

.collapse {
    color: aliceblue;
    background-color: sienna;
}

.carousel {
    width: 50%;
    height: 50%;
}

.navbar-brand {
    color: aliceblue;
    background-color: sienna;
}

nav {
    color: aliceblue;
}